@model IEnumerable<WebApplication2.Models.DegreeCredit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DegreeId"]">@Html.DisplayNameFor(model => model.Degree)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CreditId"]">@Html.DisplayNameFor(model => model.Credit)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DegreeCreditId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DegreeCreditId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DegreeCreditId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
